<p class="rout">
  <span style="color:#A6BF58">DASHBOARD</span>
  <%= image_tag("round_chevron_right_black.png", {:alt => "rss feed", :class => "chevron"}) %>
  <span style="color:#D0D1D2">GCR Forecast</span>
</p>
<div>
  <p>
    <%= image_tag("round_arrow_circle_right_white.png", {:alt => "rss feed", :class => "arrow"}) %>
    <b class="t-large">GCR Forecast</b>
    <span class="t-normal"></span>
  </p>
  <div class="container_chart">
    <div class="title_char1">
      <div>
        <b>GCR Forecast, USD</b><%= image_tag("round_error_outline_black.png", {:alt => "rss feed", :class => "sign"}) %>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Actual QTD SPEND</th>
                <th>Project Current GCR</th>
                <th>Estimated Target GCR</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>